* { 
  font-family: "Dialog.plain";
  font-weight: normal;
  font-fill: #777;
  font-style: normal; 
  label-anchor: 0.5 0.5;
  halo-color: white;
  halo-radius: 1;
}

[@scale > 5000001] {
  [place = 'city'] [population > 250000] {
    label: [name];
    font-size: 10;
  }
}
[@scale < 5000001] [@scale > 2000001] {
  [place = 'city'] {
    label: [name];
    font-size: 12;
  }
}
[@scale < 2000001] [@scale > 750001] {
  [place = 'city'] {
    label: [name];
    font-size: 14;
  };
  [place = 'town'] [population > 10000] {
    label: [name];
    font-size: 12;
  }
}
[@scale < 750001] [@scale > 250001] {
  [place = 'city'] {
    label: [name];
    font-size: 14;
  };
  [place = 'town'] {
    label: [name];
    [population < 1001] {
      font-size: 10;
    };
    [population >= 1000] {
      font-size: 12;
    };
  }
}
[@scale < 250001] [@scale > 100001] {
  [place = 'city'] {
    label: [name];
    font-size: 14;
  };
  [place = 'town'] {
    label: [name];
    [population < 1001] {
      font-size: 10;
    };
    [population >= 1000] {
      font-size: 12;
    };
  };
  [place = 'village'] {
    label: [name];
    font-size: 8;
  }
}
[@scale < 100001] {
  [place = 'city'] {
    label: [name];
    font-size: 14;
  };
  [place = 'town'] {
    label: [name];
    [population < 1001] {
      font-size: 10;
    };
    [population >= 1000] {
      font-size: 12;
    };
  };
  [place = 'village'] {
    label: [name];
    font-size: 8;
  };
  [@scale < 50001] [place = 'hamlet'] {
    label: [name];
    font-size: 8;
  }
}